.slider-card{
    width: 80%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px;
}
.slider{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px
};
.slider-card-title{
    font-size: 15px;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    color: red
}
